<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
    <title>Socket.IO chat</title>
</head>

<body>
	<div id="wrapper">
		<main id="home-main">
			<a id="chat-btn" href="/chat"><%= title %></a>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
	
</body>

</html>